<%= form_tag(search_by_isbn_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= label :search_by_isbn, 'Search by ISBN' %>
    <br>
    <%= search_field_tag :search, params[:search], placeholder: "Enter isbn", class: "form-control" %>
    <br>
    <div class="input-group-btn">
      <%= button_tag "Submit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
    </div>
  </div>
<% end %>