<h1>Scripts</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>ISBN</th>
    <th>Authors Emails</th>
    <th>Description</th>
    <th>Published At</th>
  </tr>
  <%= render 'script', script: @record %>
</table>
